@model IEnumerable<WebApplication.Models.ViewModels.ListCategoriesLeftMenuViewModels>

<div class="left-sidebar">
    <h2>DANH MỤC</h2>
    <ul id="nav-sidebox" class="category-items">
        @foreach (var category in Model)
        {
            <li class="level0 subcatemenu">
                <a href="/Shop/Index?CatagoryGuid=@category.GUID">@category.Title</a>
                @if (category.Childs.Count() > 0)
                {
                    <ul class="navigation-0a" style="width: 250px !important">
                        @foreach (var child in category.Childs)
                        {
                            <li class="level1 subcatemenu"><a href="/Shop/Index?CatagoryGuid=@child.GUID">@child.Title</a></li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>