@model IEnumerable<WebApplication.Models.ViewModels.ListCategoriesLeftMenuViewModels>

<h2>Danh mục</h2>
<div class="panel-group category-products" id="accordian">
    <!--category-productsr-->
    @foreach (var category in Model)
    {
        if (category.Childs.Count() == 0)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/Shop/Index?CatagoryGuid=@category.GUID">@category.Title</a></h4>
                </div>
            </div>
        }
        else
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="/Shop/Index?CatagoryGuid=@category.GUID">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            @category.Title
                        </a>
                    </h4>
                </div>
                <div id="@category.GUID" class="panel-collapse">
                    <div class="panel-body">
                        <ul>
                            @foreach (var child in category.Childs)
                            {
                                <li><a href="/Shop/Index?CatagoryGuid=@child.GUID">@child.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
    
</div><!--/category-products-->
