@using WebApplication.Models.ViewModels;
@using WebApplication.Libraries.Extensions;
@using WebApplication.Models.Models;
@model IEnumerable<WebApplication.Models.ViewModels.ListCategoriesLeftMenuViewModels>

<div class="left-sidebar">
    <h2>DANH MỤC</h2>
    <ul id="nav-sidebox" class="category-items">
        <!--category-products-->
        @foreach (WebApplication.Models.ViewModels.ListCategoriesLeftMenuViewModels category in Model)
        {
            <li class="level0 subcatemenu">
                @Ajax.ProductCategoryActionLink(category.Title,
                        "ListProduct", "Shop",
                        new { CategoryGuid = category.GUID },
                        new AjaxOptions
                              {
                                  HttpMethod = "POST",
                                  InsertionMode = InsertionMode.Replace,
                                  UpdateTargetId = "ProductBoard_ShopPage"
                              },
                        new { @class = "categoryAjax" })
                @if (category.Childs.Count() > 0)
                {
                    <ul class="navigation-0a" style="width: 250px !important">
                        @foreach (var child in category.Childs)
                        {
                            <li class="level1 subcatemenu">
                                @Ajax.ProductCategoryActionLink(child.Title,
                                                "ListProduct", "Shop",
                                                new { CategoryGuid = child.GUID },
                                                new AjaxOptions
                                                  {
                                                      HttpMethod = "POST",
                                                      InsertionMode = InsertionMode.Replace,
                                                      UpdateTargetId = "ProductBoard_ShopPage"
                                                  },
                                                new { @class = "categoryAjax" })
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div><!--/category-products-->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusiveajax")
}

