<footer id="footer">
    <!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Về chúng tôi</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">» Giới thiệu</a></li>
                            <li><a href="#">» Chiến lược kinh doanh</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Dịch vụ khách hàng</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">» Hướng dẫn mua hàng</a></li>
                            <li><a href="#">» Hướng dẫn thanh toán</a></li>
                        </ul>
                    </div>
                </div>                
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>Quy định - Chính sách</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">» Chính sách chung</a></li>
                            <li><a href="#">» Quy định về ship hàng</a></li>
                        </ul>
                    </div>
                </div>                
                <div class="col-sm-3">
                    <div class="single-widget">
                        <h2>MUA RẺ GIAO NHANH</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><strong>» Địa chỉ:</strong> Kiốt số 8 - Nhà A2, đường Ngô Trí Hòa, Sơn Trà, Đà Nẵng</li>
                            <li><strong>» Hotline:</strong> 0935 13 77 99 - 0905 08 88 80</li>
                            <li><strong>» Email:</strong> <a href="mailto:info@muanhanhgiaore.vn">info@muanhanhgiaore.net</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © @DateTime.Now.Year All rights reserved.</p>
                <p class="pull-right">Thông tin và hình ảnh thuộc về Cửa hàng Mẹ và Bé.</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
