<div class="left-sidebar">
    <h2>HỖ TRỢ TRỰC TUYẾN</h2>
    <div id="divsuppport" class="support">
        <div class="SupportYMImages">
            <a href="skype:Phanvan_kd?call">
                <img border="0" src="../Content/Images/skype-bisatel.png" width="90%" alt="Tư vấn online qua Skype">
            </a>
        </div>

        <div class="SupportYMImages" align="center">
            <a href="skype:0949861282?call">
                <img border="0" src="../Content/Images/hotline.png" width="90%" alt="Tư vấn online qua Điện thoại">
            </a>
        </div>

    </div>
</div>