<div class="shipping text-center">
    <!--shipping-->

    <iframe height="200" src="https://www.youtube.com/embed/fDRTAViq9_8" frameborder="0" allowfullscreen></iframe>

    <iframe height="200" src="https://www.youtube.com/embed/KTbytNN9jmk" frameborder="0" allowfullscreen></iframe>
</div><!--/shipping-->
