<script src="~/Scripts/Home/ProductPartialView.js"></script>
@model IEnumerable<WebApplication.Models.ViewModels.ProductPartialViewModel>


<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Features Items</h2>
    @foreach (var product in Model)
    {
        <div class="col-sm-4">
            @Html.Partial("ProductItemPartial", product)
        </div>
    }
</div><!--features_items-->
<!-- Cart Modal popup -->
<div class="modal fade" id="ProductPartialView_CartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your cart</h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" id="ProductBoard_ContinueShopping">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                </button>

                @*<button type="button" class="btn btn-success" id="ProductBoard_CheckOut">
                        Checkout <span class="glyphicon glyphicon-play"></span>
                    </button>*@
                <a href="/CheckOut/OrderProduct" class="btn btn-success">Checkout <span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>
</div>
<script>
    ProductBoard.init();
</script>


