<script src="~/Scripts/Home/ProductPartialView.js"></script>
@model IEnumerable<WebApplication.Models.ViewModels.ProductPartialViewModel>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Sản phẩm</h2>
    <div style="display:block;">
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                @Html.Partial("ProductItemPartial", product)
            </div>
        }
    </div>
</div><!--features_items-->
<!-- Cart Modal popup -->
<div class="modal fade" id="ProductPartialView_CartModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Giỏ hàng</h4>
            </div>
            <div class="modal-body" style="max-height:500px;overflow:auto;">
                @Html.Action("CartDetails", "ProductBoard")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="ProductBoard_ContinueShopping">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Tiếp tục mua sắm
                </button>
                <a href="/ProductBoard/CheckOutCart" class="btn btn-success">Thanh toán<span class="glyphicon glyphicon-play"></span></a>
            </div>
        </div>
    </div>
</div>
<script>
    ProductBoard.init();
</script>



