.col-size-item{
    margin:0;
    width:80px;
}
.col-size-desciption{
    width:150px;
}
.col-size-price{
    width:140px;
}
.col-size-quantity{
    width:90px;
}
.col-size-total{
    width:190px;
}
.col-size-functionButton{

}